@media screen and (max-width: 540px) {
  #app-ntc{
    position: relative;
    height: 100%;
  }
  .login-dark {
    background: #475d62;
    background-image:none !important;
    height:100%;
  }
  .login-dark form{
    padding:5px 10px !important;
  }
  .login-dark h3{
    font-size: 40px !important;
  }
  .login-dark input{
    font-size: 35px !important;
  }
  .login-dark button{
    font-size: 35px;
  }
  #video-container{
    margin: 0px auto !important;
  }
}

.login-dark {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 9999;
  background: #475d62 url(/img/login-form/heavens-gate2.jpg);
  background-size: cover;
}

.login-dark form {
  max-width: 480px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  opacity: 90%;
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 160px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .error-msg {
  color: #FF6666;
  font-weight: bold;
  font-size: 24px;
  display: none;
  text-align: center;
}

.login-dark form .error-msg span{
  display:block;
  text-align: center;
}

.login-dark form .error-msg.error-visible {
  display: block;
}

.login-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

