/* inserted by spyong*/
#app-ntc{
  background-color: black;
}
.login-dark h3{
  padding: 20px;
  margin: 20px 0;
  background-color: #141a21;
  text-align: center;
  font-size: 70px;
}
.login-dark input{
  font-size: 40px;
  font-weight: bold;
}
.login-dark button{
  font-size: 40px;
}
